/*
*  System Variables
* ========================================
*/
@font-face {
  font-family: 'ocr';
  src: url("../asset/fonts/OCRAStd.otf"); }

/*
*  Color
* ========================================
*/
/*
*  Static Elements
* ========================================
*/
div.painel {
  width: 100vmax; }

div.image {
  width: 100%;
  max-height: 300px; }

div.bg-main-blue {
  background-color: #11439f; }

div.background-image {
  position: absolute;
  background: url(../asset/background-image.png) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: #11439f;
  width: 100vmax;
  height: 1000px;
  max-height: 178vmax; }

div.title {
  font-family: 'ocr';
  color: #ffffff;
  font-size: 3rem; }

div.hub {
  font-family: 'ocr';
  color: #ffffff;
  font-size: 20px; }

div.gamescreen, div.bonus-hub {
  width: auto;
  max-width: 840px;
  min-width: 360px; }

div.bonus-hub {
  background-color: #ffffff;
  font-family: 'ocr';
  font-size: 18px;
  width: 91vmax;
  height: 32px;
  max-width: 840px;
  min-width: 360px;
  border-radius: 8px; }

div.bonus-header {
  background-color: #11439f;
  color: #ffffff; }

div.bonus-body {
  color: black; }

/*
*  Ocult Elements
* ========================================
*/
button.main-button {
  background-color: #ffffff;
  color: black;
  font-family: 'ocr';
  height: 6rem;
  width: 200px; }

/*
*  Dynamic Elements
* ========================================
*/
div.set {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

div.success-card {
  background: url(../asset/cards/success-card.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

div.fail-card {
  background: url(../asset/cards/fail-card.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-chrome {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-email {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-estabilizador {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-google {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-notebook {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-virus {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-windows {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.setdown_card-word {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 10vmax;
  height: auto;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-chrome {
  background: url("../asset/cards/card-chrome.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-email {
  background: url("../asset/cards/card-email.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-estabilizador {
  background: url("../asset/cards/card-estabilizador.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-google {
  background: url("../asset/cards/card-google.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-notebook {
  background: url("../asset/cards/card-notebook.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-virus {
  background: url("../asset/cards/card-virus.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-windows {
  background: url("../asset/cards/card-windows.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.card-word {
  background: url("../asset/cards/card-word.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-chrome {
  background: url("../asset/cards/card-chrome.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-email {
  background: url("../asset/cards/card-email.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-estabilizador {
  background: url("../asset/cards/card-estabilizador.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-google {
  background: url("../asset/cards/card-google.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-notebook {
  background: url("../asset/cards/card-notebook.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-virus {
  background: url("../asset/cards/card-virus.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-windows {
  background: url("../asset/cards/card-windows.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }

.locked_card-word {
  background: url("../asset/cards/card-word.jpg") no-repeat;
  background-color: white;
  width: 10vmax;
  height: 5.7vmax;
  min-width: 120px;
  min-height: 85px;
  max-height: 12.5vmax; }
