/*
*  System Variables
* ========================================
*/
@font-face {
  font-family: 'ocr';
  src: url("../asset/fonts/OCRAStd.otf");
}

/*
*  Color
* ========================================
*/
$main-blue: #11439f;
$support-white: #ffffff;
$typing-black: black;

$app-colors: (
  "main-blue": $main-blue,
  "support-white": $support-white,
  "typing-black": $typing-black,
);

$bg: $main-blue;
$title: $support-white;
$hub-text: $support-white;
$bonus-header: $main-blue;
$bonus-body: $support-white;
$bonus-header-text: $support-white;
$bonus-body-text: $typing-black;
$main-button: $support-white;
$text-button: $typing-black;

/*
*  Static Elements
* ========================================
*/
// Background Image
div.bg-main-blue {
  background-color: $bg;
}

div.background-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../asset/background-image.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: $bg;
}

div.title {
  font-family: 'ocr';
  color: $title;
  font-size: 45px;
}

div.hub {
  font-family: 'ocr';
  color: $hub-text;
  font-size: 20px;
}

div.bonus-hub {
  background-color: $bonus-body;
  font-family: 'ocr';
  font-size: 18px;
  width: 100%;
  height: 32px;
  border-radius: 8px;
}

div.bonus-header {
  background-color: $bonus-header;
  color: $bonus-header-text;
}

div.bonus-body {
  color: $bonus-body-text;
}

/*
*  Ocult Elements
* ========================================
*/
button.main-button {
  background-color: $main-button;
  color: $text-button;
  font-family: 'ocr';
}

/*
*  Dynamic Elements
* ========================================
*/
$slot: slot- !default;
$setdown: setdown_ !default;
$locked: locked_ !default;

div.set {
  background: url(../asset/icons/setcard.png) no-repeat;
  width: 90px;
  height: 90px;
}

//
$keys: (

);


$icons: (
  'icon-1': (
    'name': 'config-icon',
    'link': '../asset/icons/config-icon.png',
  ),
  'icon-2': (
    'name': 'cpu-icon',
    'link': '../asset/icons/cpu-icon.png',
  ),
  'icon-3': (
    'name': 'google-icon',
    'link': '../asset/icons/google-icon.png',
  ),
  'icon-4': (
    'name': 'gps-icon',
    'link': '../asset/icons/gps-icon.png',
  ),
  'icon-5': (
    'name': 'hd-icon',
    'link': '../asset/icons/hd-icon.png',
  ),
  'icon-6': (
    'name': 'home-icon',
    'link': '../asset/icons/home-icon.png',
  ),
  'icon-7': (
    'name': 'linux-icon',
    'link': '../asset/icons/linux-icon.png',
  ),
  'icon-8': (
    'name': 'menu-icon',
    'link': '../asset/icons/menu-icon.png',
  ),
  'icon-9': (
    'name': 'share-icon',
    'link': '../asset/icons/share-icon.png',
  ),
  'icon-10': (
    'name': 'windows-icon',
    'link': '../asset/icons/windows-icon.png',
  ),
);

@each $icon, $key in $icons {
  .#{$setdown}#{map-get($key, 'name')} {
    background: url(../asset/icons/setcard.png) no-repeat;
    width: 90px;
    height: 90px;
  }
}

@each $icon, $key in $icons {
  .#{map-get($key, 'name')} {
    background: url(map-get($key, 'link')) no-repeat;
    width: 90px;
    height: 90px;
  }
}

@each $icon, $key in $icons {
  .#{$locked}#{map-get($key, 'name')} {
	background: url(map-get($key, 'link')) no-repeat;
    width: 90px;
    height: 90px;
  }
}
