/*
*  System Variables
* ========================================
*/
@font-face {
  font-family: 'ocr';
  src: url("../asset/fonts/OCRAStd.otf");
}

/*
*  Color
* ========================================
*/
$main-blue: #11439f;
$support-white: #ffffff;
$typing-black: black;

$app-colors: (
  "main-blue": $main-blue,
  "support-white": $support-white,
  "typing-black": $typing-black,
);

$bg: $main-blue;
$title: $support-white;
$hub-text: $support-white;
$bonus-header: $main-blue;
$bonus-body: $support-white;
$bonus-header-text: $support-white;
$bonus-body-text: $typing-black;
$main-button: $support-white;
$text-button: $typing-black;

/*
*  Static Elements
* ========================================
*/
div.painel {
  min-width: 32rem;
  max-width: 64rem;
  right: 30rem;
}

// Background Image
div.bg-main-blue {
  background-color: $bg;
}

div.background-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 135vh;
  background: url(../asset/background-image.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: $bg;
  min-width: 36rem;
  min-height: 100vh;
}

div.title {
  font-family: 'ocr';
  color: $title;
  font-size: 3rem;
}

div.hub {
  font-family: 'ocr';
  color: $hub-text;
  font-size: 20px;
}

div.bonus-hub {
  background-color: $bonus-body;
  font-family: 'ocr';
  font-size: 18px;
  width: 100%;
  height: 32px;
  max-width: 60rem;
  border-radius: 8px;
}

div.bonus-header {
  background-color: $bonus-header;
  color: $bonus-header-text;
}

div.bonus-body {
  color: $bonus-body-text;
}

/*
*  Ocult Elements
* ========================================
*/
button.main-button {
  background-color: $main-button;
  color: $text-button;
  font-family: 'ocr';
}

/*
*  Dynamic Elements
* ========================================
*/
$slot: slot- !default;
$setdown: setdown_ !default;
$locked: locked_ !default;

div.set {
  background: url(../asset/cards/setcard.jpg) no-repeat;
  background-color: white;
  width: 9.3125rem;
  height: 6rem;
  min-width: 11px;
}

//cards
$cards: (
  'card-1': (
    'name': 'card-chrome',
    'link': '../asset/cards/card-chrome.jpg',
  ),
  'card-2': (
    'name': 'card-email',
    'link': '../asset/cards/card-email.jpg',
  ),
  'card-3': (
    'name': 'card-estabilizador',
    'link': '../asset/cards/card-estabilizador.jpg',
  ),
  'card-4': (
    'name': 'card-google',
    'link': '../asset/cards/card-google.jpg',
  ),
  'card-5': (
    'name': 'card-notebook',
    'link': '../asset/cards/card-notebook.jpg',
  ),
  'card-6': (
    'name': 'card-virus',
    'link': '../asset/cards/card-virus.jpg',
  ),
  'card-7': (
    'name': 'card-windows',
    'link': '../asset/cards/card-windows.jpg',
  ),
  'card-8': (
    'name': 'card-word',
    'link': '../asset/cards/card-word.jpg',
  ),
);

@each $card, $key in $cards {
  .#{$setdown}#{map-get($key, 'name')} {
    background: url(../asset/cards/setcard.jpg) no-repeat;
    width: 9.3125rem;
    height: 6rem;
    min-width: 11px;
  }
}

@each $card, $key in $cards {
  .#{map-get($key, 'name')} {
    background: url(map-get($key, 'link')) no-repeat;
    width: 9.3125rem;
    height: 6rem;
    min-width: 11px;
  }
}

@each $card, $key in $cards {
  .#{$locked}#{map-get($key, 'name')} {
	  background: url(map-get($key, 'link')) no-repeat;
    width: 9.3125rem;
    height: 6rem;
    min-width: 11px;
  }
}
