button {
    padding: 0;
}

.bg {
    background-image: url('../asset/background.png');
    background-size: cover;
    width: 100%;
    height: 110vh;
    background-color: #1465CC;
}

.title {
    background-color: #1465CC;
    margin: 1px;
    padding: 1px;
    padding-left: 3px;
    color: white;
    font-family: 'Righteous', cursive;
}

.hub {
    background-color: #1465CC;
    padding: 3px;
    margin: 0px;
    text-align: left;
    color: white;
    font-family: 'Righteous', cursive;
}

.startMenu {
    background-color: white; /* Green */
    border: none;
    color: #1465CC;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px    
}

.screen-game {
    text-align: center;
}    

.stage1 {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 40px;
}

.stage2 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
}

.set {
    background-image: url(../asset/item-0.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.setdown_saber {
    background-image: url(../asset/item-0.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.setdown_archer {
    background-image: url(../asset/item-0.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.setdown_lancer {
    background-image: url(../asset/item-0.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.locked_saber {
    background-image: url(../asset/item-1.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.locked_archer {
    background-image: url(../asset/item-2.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.locked_lancer {
    background-image: url(../asset/item-3.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.saber {
    background-image: url(../asset/item-1.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.archer {
    background-image: url(../asset/item-2.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}

.lancer {
    background-image: url(../asset/item-3.jpg);
    background-size: cover;
    width: 150px;
    height: 260px;
}
