<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap-reboot.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
  <title>/Descobrir</title>
</head>
<body>
  <!-- Cover -->
  <div class="background-image m-0 p-0"></div>

  <div class="container painel p-0 m-0">
      
    <!-- Title -->
    <div class="row">
  
      <div class="col-sm-4"></div>
      
      <div class="col-sm-4">
      
        <div class="title">/DESCOBRIR</div>
      
      </div>
      
      <div class="col-sm-4"></div>
    
    </div>
    
    <div class="row">
      
      <div class="col-8">
        <!-- Flipped Icons -->
        <div id="FlippedIcons" hidden>0</div>  
        <div id="CurrentBonus" hidden></div>
        
        <!-- Hub-points -->
        <div class="row ml-2">
          
          <div class="col">
      
            <div class="hub">
              <div class="points">
                <span>Pontos: </span>
                <span id="points">0</span>
              </div>
            </div>
      
          </div>
        
        </div>
        
        <!-- Hub-chances -->
        <div class="row ml-2">
        
          <div class="col">
      
            <div class="hub">
              <div class="chances">
                <span>Tentativas: </span>
                <span id="attempt">0</span>
              </div>
            </div>
      
          </div>
        
        </div>
        
        <!-- Hub-level -->
        <div class="row ml-2">
        
          <div class="col">
      
            <div class="hub">
              <div class="level">
                <span>Nível: </span>
                <span id="level">Caçador de Botão de Fechar</span>
              </div>
            </div>
      
          </div>
    
        </div>
      
      </div>
      
      <div class="col-4">

        <!-- Main Button -->
        <div class="row">
          <div class="col-sm-2 mr-2"></div>
          <div class="col-sm-8 pl-4 pr-2">
            <button id="main-button" type="button" class="main-button btn btn-dark btn-lg btn-block" onclick="startGame()">Jogar</button>
          </div>
          <div class="col-sm-2"></div>
        </div>

      </div>

    </div>
    
    <!-- Icons -->
    <div class="container ml-5 mr-5 mt-3">

      <!-- Bônus -->
      <div class="row mt-5 mb-3">
  
        <div class="col-sm-1"></div>
    
        <div class="col-sm-10 pl-5 mr-5 pr-5">
    
          <div class="pl-4">

            <div class="row bonus-hub shadow">
              <div class="col-2 bonus-header text-center pt-1">bônus</div>
              <div id="bonus-request" class="col-10 bonus-body pt-1"></div>
            </div>
      
          </div>
    
        </div>
    
        <div class="col-sm-1"></div>
    
      </div>

      <div class="row ml-5 mr-5">
        <div class="col">

          <div class="row ml-3 mr-5">

            <div class="col p-2 pl-5">
              <div id="slot-1" class="set" onclick="flip(1)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-2" class="set" onclick="flip(2)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-3" class="set" onclick="flip(3)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-4" class="set" onclick="flip(4)"></div>
            </div>
    
          </div>
    
          <div class="row ml-3 mr-5">
            
            <div class="col p-2 pl-5">
              <div id="slot-5" class="set" onclick="flip(5)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-6" class="set" onclick="flip(6)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-7" class="set" onclick="flip(7)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-8" class="set" onclick="flip(8)"></div>
            </div>
    
          </div>
    
          <div class="row ml-3 mr-5">
    
            <div class="col p-2 pl-5">
              <div id="slot-9" class="set" onclick="flip(9)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-10" class="set" onclick="flip(10)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-11" class="set" onclick="flip(11)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-12" class="set" onclick="flip(12)"></div>
            </div>
    
          </div>
    
          <div class="row ml-3 mr-5">
            
            <div class="col p-2 pl-5">
              <div id="slot-13" class="set" onclick="flip(13)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-14" class="set" onclick="flip(14)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-15" class="set" onclick="flip(15)"></div>
            </div>
            <div class="col p-2">
              <div id="slot-16" class="set" onclick="flip(16)"></div>
            </div>
    
          </div>

        </div>

      </div>

    </div>
    
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/functions.js"></script>

</body>
</html> 